@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: white;
} */

html, body {
  margin: 0;
  height: 100%;
}
body {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas: "main" "footer";
  grid-template-rows: 1fr 80px;
}
/* main {
  background-color: #F8BBD0;
  grid-area: main;
} */
footer {
  background-color: #grey;
  grid-area: footer;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signupButton {
    display: block;
    margin: 0 auto;
  }

  .titleText {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: red;
    }

  /* .card {
    width: 300px;
  } */

  .cardContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    alignItems: center;
  }

  .cardBox {
    margin: 1vw;
  }

  .text {
    float: left;
  }

  .navBar {
    overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  }

 

  
  
